<div class="container">

    <h1 *ngIf="serverIsCreated">
        The Server Name is: {{serverName}}
    </h1>

    <hr>

    <h1>Input the server name:</h1>
    <input
        type="text"
        class="form-control"
        [(ngModel)]="serverName"
    >

    <br>
    <button
        mat-raised-button
        color="primary"
        [disabled]="serverName.length===0"
        (click)="onCreateServer()"
    >Click Me!</button>
    <h2>Allow new server: {{allowNewServer}}</h2>
    <h2 [innerText]="serverCreationStatus"></h2>

    <hr>

    <p *ngFor="let server of servers">{{server}}</p>
</div>